
#body {
    background-color: pink;
    padding: 1rem;
}

.about, .experience {
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    color: rgb(38, 143, 104);
    border: 8px double rgb(107, 31, 158);
    margin-left: 12em;
    margin-right: 12rem;
}
.aboutP, .experienceP {
    text-align:left;
    margin-left: 2rem;
    margin-right: 2rem;
}
.skillsHeader {
    color: rgb(107, 31, 158);
    text-align: center;
}
#skills {
    background-color: rgb(165, 252, 220);
    margin-left: 2rem;
    margin-right: 70%;
    border: 5px dotted orangered;
}
#connect {
    color:rgb(38, 143, 104);
}
.leftMessages {
    color: rgb(38, 143, 104);
}
#name, #email, #messageMe {
    margin-left: 2rem;
    display: flex;
    flex-wrap: wrap;
    height: auto;
}
#message {
    color:rgb(38, 143, 104);
}
#footer {
    color:rgb(107, 31, 158);
    text-align: center;
    font-family: cursive;
    font-size: larger;
    font-weight: bolder;
    letter-spacing: 3mm;
}
body {
    background-color: rgb(240, 221, 161);
}
#about {
    text-align: center;
    background-color: rgba(194, 137, 32, 0.918);
    border: 3px dotted black;
    margin: 10%
}
#experience {
    text-align: center;
    border: 3px dotted black;
    margin: 5%;
    background-color: rgb(194, 165, 69);
}
.headings {
    text-align: center;
    font-family: fantasy;
    text-decoration: underline;
}
#skillsList {
    border: 5px solid rgb(83, 58, 10);
    margin-left: 40%;
    margin-right: 40%;
}
#connect {
    text-align: center;
}
.leavingMessages{
    color:rgb(37, 26, 5)
}
.name {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(233, 94, 2);
}
.email{
    color: rgb(233, 94, 2);  
}
.messages{
    color: rgb(233, 94, 2);
}
.submit{
    background-color: rgb(170, 112, 36);
    border: .5px none;
    margin-left: 200%;
}
#footer{
    border: 4px outset rgb(173, 173, 87);
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: .08cm;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
}
@media screen (min-width: 320px) and (max-width: 680px) {
    margin: 0, 1rem, 1rem, 0;
}